{% extends 'base.html'%}
{% from 'bootstrap/pagination.html' import render_pager %}

{% block title %}Category{% endblock %}


{% block content %}
     <div class="page-header">
        <h4 class="display-4">Category:{{ category.name }}</h4>
        <h5 class="text-muted">{{ category.posts | length }}&nbsp; posts</h5>
        
    </div>
    
    <div class="row">
        <div class="col-sm-8">
            {% include 'blog/_posts.html' %}
            {% if posts %}
                <div class="page-footer">{{ render_pager(pagination) }}</div>
            {% endif %}
        </div>
         <div class="col-sm-4 sidebar">
            {% include "blog/_sidebar.html" %}
        </div>
      
    </div>
{% endblock%}